{% block style %}
<!-- Der Block Style ist der Ort an dem das Aussehen von der Seite mit Hilfe von CSS gestaltet wird -->
<!-- Ich habe diesen Style auf alle HTML Seiten abgewendet. Eigentlich geschieht das durch .CSS Style Sheets aber irgendwie wollte das Programm die Styles nicht übernehmen.-->
<!-- Um den Style an sich in die Elemente zu integrieren, verwendet man class="" in dem HTML Befehl also zum Beispiel bei <p> </p> verwendet man <p class='button'> </p> und kann damit den Style zuordnen-->
<!-- Der Style wird in den Style Block definiert, in dem man den Elementnamen einträgt und einen Punkt davor setzt. Danach werden alle Veränderungen die danach definiert werden, für die Klasse übernommen.-->

    <style>
    .button{
        background-color: #363636; /* Green */
        border: NONE;
        color: white;
        alignment: center;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: auto;
        cursor: pointer;
    }
    /* h2 habe ich hauptsächlich definiert um den schwarzen Rand ganz unten auf der Website zu gestalten. */
    .h2{
        padding: 60px;
        text-align: center;
        background: #363636;
        color: white;
        font-size: 30px;
    }
    /* Mit h1 wird der Header der Website versehen. Das wichtigste vor allem ist der dunkel graue Background der die gleiche Farbe wie h2 hat.
        Die einzelnen Eigenschaften die hier definiert betreffen die Farben, die Ränder, den Hintergrund und die Position der Schrift auf der Seite*/
    .h1{
        padding: 60px;
        text-align: center;
        background: #363636;
        color: white;
        font-size: 30px;}
    /* In p definiere ich die normale schrift im Text. Bis jetzt habe ich nur definiert das sie larger ist aber man könnte noch die Schriftart ändern oder sie anders positionieren.*/
    .p{
        font-size: larger;
    }

    </style>
{% endblock %}




{% block title %}
<!-- Im Block Title habe ich die Unterschrift der Seite definiert und gleich im Design angepasst.-->
    <link rel="stylesheet" type="text/css" href="Button.css"/>
    <h1 class="h1"> Phase III: Election </h1>
{% endblock %}


{% block content %}
    <body onload="time()"></body>
<p class="p">
Die Parlamentswahl steht an, bei der Sie als {% if player.Geschlecht == "Weiblich" %}Bürgerin {% else %}Bürger {% endif %}  wählen können.
<br>
<br>

Wie Sie bereits wissen, ist Novaland eine Demokratie mit einem parlamentarischen System. Der Chef oder die Chefin der Regierung wird durch das Parlament gewählt und braucht dort eine Mehrheit von mehr als 50% der Stimmen. Derzeit regiert eine Regierung aus der LPN (Liberale Partei Novaland) und der KPN (Konservative Partei Novaland), unter Führung der LPN. In der Opposition befinden sich die SPN (Soziale Partei Novaland) und die PPN (Partei Progressives Novaland).
<br>
Die zwei Regierungsparteien LPN und KPN haben beschlossen, dass sie nach der Parlamentswahl nur miteinander koalieren werden und eine Koalition mit einer der derzeitigen Oppositionsparteien ausschließen.
<br>
<br>
Die zwei Oppositionsparteien SPN und PPN haben ebenfalls beschlossen, dass sie nach der Parlamentswahl nur miteinander koalieren werden und eine Koalition mit einer der derzeitigen Regierungsparteien ausschließen.
<br>
</p>

<br>
<button class='button' type='button' onclick='Next()'> Weiter </button>
<br>
<br>
<br>
<h2 class="h2"> </h2>


{% endblock %}

{% block script %}
<script>
 function time(){
   starttime = new Date();
}
    function Next() {
        let ZeitP3S2 = (new Date() - starttime) / 1000;
        liveSend({"ZeitP3S2": "ZeitP3S2", 'ZeitP3S2': ZeitP3S2});

    }
    function liveRecv(data) {
        if (data['type'] == 'P3S2Weiter') {
            document.getElementById("form").submit();
        }
    }
</script>
{% endblock %}

