{% block style %}
<!-- Der Block Style ist der Ort an dem das Aussehen von der Seite mit Hilfe von CSS gestaltet wird -->
<!-- Ich habe diesen Style auf alle HTML Seiten abgewendet. Eigentlich geschieht das durch .CSS Style Sheets aber irgendwie wollte das Programm die Styles nicht übernehmen.-->
<!-- Um den Style an sich in die Elemente zu integrieren, verwendet man class="" in dem HTML Befehl also zum Beispiel bei <p> </p> verwendet man <p class='button'> </p> und kann damit den Style zuordnen-->
<!-- Der Style wird in den Style Block definiert, in dem man den Elementnamen einträgt und einen Punkt davor setzt. Danach werden alle Veränderungen die danach definiert werden, für die Klasse übernommen.-->

    <link rel="stylesheet" href="Button.css">
    <style>
    .button{
        background-color: #363636; /* Green */
        border: NONE;
        color: white;
        alignment: center;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: auto;
        cursor: pointer;
    }
    /* h2 habe ich hauptsächlich definiert um den schwarzen Rand ganz unten auf der Website zu gestalten. */
    .h2{
        padding: 60px;
        text-align: center;
        background: #363636;
        color: white;
        font-size: 30px;
    }
    /* Mit h1 wird der Header der Website versehen. Das wichtigste vor allem ist der dunkel graue Background der die gleiche Farbe wie h2 hat.
        Die einzelnen Eigenschaften die hier definiert betreffen die Farben, die Ränder, den Hintergrund und die Position der Schrift auf der Seite*/
    .h1{
        padding: 60px;
        text-align: center;
        background: #363636;
        color: white;
        font-size: 30px;}
    /* In p definiere ich die normale schrift im Text. Bis jetzt habe ich nur definiert das sie larger ist aber man könnte noch die Schriftart ändern oder sie anders positionieren.*/
    .p{
        font-size: larger;
    }
    textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

    </style>
{% endblock %}




{% block title %}
<!-- Im Block Title habe ich die Unterschrift der Seite definiert und gleich im Design angepasst.-->
    <link rel="stylesheet" type="text/css" href="Button.css"/>
    <h1 class="h1"> Ende der Teilnahme </h1>
{% endblock %}


{% block content %}
     <body onload="time()"></body>
<p class="p">
    Wir sind nun am Ende unserer Zeit in Novaland angekommen. Sie verlassen diese Welt, die nicht wirklich existiert. Sie haben diese Zeit mit echten Menschen zusammen erlebt, deren Identität Sie nicht kennen und niemals kennenlernen werden.
<br>
Es steht Ihnen frei, über das, was Sie erlebt haben, mit anderen zu sprechen.
<br>
Gibt es etwas, das Sie uns noch schreiben möchten?
</p>
    <textarea id="Antwort" maxlength="1000" cols="30" rows="4" onkeydown="maximumChars(1000,this)" placeholder="Geben Sie etwas ein..." required></textarea>
    <br>
    <span id="maxChars"> </span>
    <br>
    <br>
    <div id="ZuVieleZeichen"><button class="button" type="button" onclick="Next()"> Abschicken </button></div>
<br>
    <br>

<br>
<br>
<br>
<h2 class="h2"> </h2>


{% endblock %}

{% block script %}
<script>
 function time(){
   starttime = new Date();
}
    function Next() {
        let Antwort = document.getElementById("Antwort").value;
        if (!Antwort){
            Antwort = "-"
        }
        liveSend({"OffeneFrage": "OffeneFrage", "OffeneFrageAntwort": Antwort});
        let ZeitP5S11 = (new Date() - starttime) / 1000;
        liveSend({"ZeitP5S11": "ZeitP5S11", 'ZeitP5S11': ZeitP5S11});
    }
     function liveRecv(data) {
        if (data['type'] == 'P5S11Weiter') {
            document.getElementById("form").submit();
        }
    }

   var maximumChars= function(maxChars, input) {

       var totalChars = input.value.length;
       var displayChars = document.getElementById('maxChars');

       if (maxChars > totalChars) {
           displayChars.innerHTML = totalChars + " von " + maxChars + " Zeichen";
           displayChars.style.color = "green";
           input.style.borderColor = "green";
       } else {
           displayChars.innerHTML = "Sie dürfen maximal " + maxChars + " Zeichen verwenden";
           displayChars.style.color = "red";
           input.style.borderColor = "red";
       }
   }

</script>


{% endblock %}

