{% block style %}
<!-- Der Block Style ist der Ort an dem das Aussehen von der Seite mit Hilfe von CSS gestaltet wird -->
<!-- Ich habe diesen Style auf alle HTML Seiten abgewendet. Eigentlich geschieht das durch .CSS Style Sheets aber irgendwie wollte das Programm die Styles nicht übernehmen.-->
<!-- Um den Style an sich in die Elemente zu integrieren, verwendet man class="" in dem HTML Befehl also zum Beispiel bei <p> </p> verwendet man <p class='button'> </p> und kann damit den Style zuordnen-->
<!-- Der Style wird in den Style Block definiert, in dem man den Elementnamen einträgt und einen Punkt davor setzt. Danach werden alle Veränderungen die danach definiert werden, für die Klasse übernommen.-->

    <style>
    .button{
        background-color: #363636; /* Green */
        border: NONE;
        color: white;
        alignment: center;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: auto;
        cursor: pointer;
    }
    /* h2 habe ich hauptsächlich definiert um den schwarzen Rand ganz unten auf der Website zu gestalten. */
    .h2{
        padding: 60px;
        text-align: center;
        background: #363636;
        color: white;
        font-size: 30px;
    }
    /* Mit h1 wird der Header der Website versehen. Das wichtigste vor allem ist der dunkel graue Background der die gleiche Farbe wie h2 hat.
        Die einzelnen Eigenschaften die hier definiert betreffen die Farben, die Ränder, den Hintergrund und die Position der Schrift auf der Seite*/
    .h1{
        padding: 60px;
        text-align: center;
        background: #363636;
        color: white;
        font-size: 30px;}
    /* In p definiere ich die normale schrift im Text. Bis jetzt habe ich nur definiert das sie larger ist aber man könnte noch die Schriftart ändern oder sie anders positionieren.*/
    .p{
        font-size: larger;
    }

    </style>
{% endblock %}

{% block styleBar %}
<!-- Der Block Style ist der Ort an dem das Aussehen von der Seite mit Hilfe von CSS gestaltet wird -->
<!-- Ich habe diesen Style auf alle HTML Seiten abgewendet. Eigentlich geschieht das durch .CSS Style Sheets aber irgendwie wollte das Programm die Styles nicht übernehmen.-->
<!-- Um den Style an sich in die Elemente zu integrieren, verwendet man class="" in dem HTML Befehl also zum Beispiel bei <p> </p> verwendet man <p class='button'> </p> und kann damit den Style zuordnen-->
<!-- Der Style wird in den Style Block definiert, in dem man den Elementnamen einträgt und einen Punkt davor setzt. Danach werden alle Veränderungen die danach definiert werden, für die Klasse übernommen.-->

    <link rel="stylesheet" href="Button.css">
    <style>
     .section{
         width: 100%;
         height: 100%;
     }
     .box{
         position: relative;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 300px;
         background: transparent;
         border-bottom: 1px solid #000;
         border-left: 1px solid #000;
         display: flex;
     }
     .box .skill {
         position: relative;
         flex: 1;
         text-align: center;

     }
     .box .skill .graph{
         position: absolute;
         width: 20%;
         bottom: 0;
         background: rgba(0,0,0,.1);
         left: 50%;
         transform: translateX(-50%);
     }

     .box .skill .graph:before{
         content: '';
         position: absolute;
         top: 2px;
         left: 1px;
         right: 1px;
         bottom: 0;
         background: linear-gradient(0deg, #000000,#200000 );
     }

     .box .skill .graph:after{
         content: '';
         position: absolute;
         top: 2px;
         left: 1px;
         right: 1px;
         bottom: 0;
         background: linear-gradient(0deg, #000000,#200000 );
     }

     .box .skill .graph .percent {
         position: absolute;
         top: -20px;
         left: 50%;
         transform: translateX(-50%);
         test-align: center;
         color: black;
         front-weight: bold;
     }

     .box .skill .name{
         position: absolute;
         bottom: -30%;
         left: 50%;
         transform: translateX(-50%);
         text-align: center;
         color: black;
         padding: 1px 3px;
         border-radius: 4px;
     }

     .column1{
        float: top;
         padding-down: 10px;
    }
     .column2{
        float: top;
         padding-down: 10px;
     }


    </style>
{% endblock %}




{% block title %}
<!-- Im Block Title habe ich die Unterschrift der Seite definiert und gleich im Design angepasst.-->
    <link rel="stylesheet" type="text/css" href="Button.css"/>
    <h1 class="h1"> Phase IV: Election Outcome and Environmental Disaster </h1>
{% endblock %}


{% block content %}
    <body onload="time()"></body>
    <div class="column1">
    <p class="p">
    Novaland hat gewählt! Das Wahlergebnis steht fest!     </p>
    <br>
    <br>
</div>

    <div class="column2">
    <br>
    <br>
    <br>
    <br>
    <br>


    <section class="section">
        <div class="box">
            <div class="skill">
                <div class="graph" style="height: {% LPNProzent %}%">
                    <div class="percent"> {% LPNProzent %}%</div>
                </div>
                <div class="name"> LPN </div>
            </div>

            <div class="skill">
                <div class="graph"style="height: {% SPNProzent %}%">
                    <div class="percent"> {% SPNProzent %}%</div>
                </div>
                <div class="name"> SPN </div>
            </div>

            <div class="skill">
                <div class="graph"style="height: {% KPNProzent %}%">
                    <div class="percent"> {% KPNProzent %}%</div>
                </div>
                <div class="name"> KPN </div>
            </div>

            <div class="skill">
                <div class="graph"style="height: {% PPNProzent %}%">
                    <div class="percent"> {% PPNProzent %} %</div>
                </div>
                <div class="name"> PPN </div>
            </div>

             </div>
    </section>
    </div>
<p> </p>

<br>
<p class="p">
<!-- Hier werden alle verschiedenen Szenarios an Text definiert -->
<!----------------------------- Zwei mal Platz Eins -->
    {% if player.PlatzEinsZweiAktiv == "Ja" and player.PlatzZweiZweiAktiv == "Nein" and player.PlatzDreiZweiAktiv == "Nein" %}
    Die zwei Parteien: {% player.PlatzEinsZwei %} sind die stärkste Kraft.
    Gefolgt von der {% PlatzDrei %}.
    Die {% PlatzVier %} ist die schwächste Kraft.

<!----------------------------- Zwei mal Platz Zwei -->
    {% elif player.PlatzEinsZweiAktiv == "Nein" and player.PlatzZweiZweiAktiv == "Ja" and player.PlatzDreiZweiAktiv == "Nein" %}
    Die {% Platzeins %} ist die stärkste Kraft.
    Gefolgt von den zwei Parteien: {% player.PlatzZweiZwei %}.
    Die {% PlatzVier %} ist die schwächste Kraft.

<!----------------------------- Zwei mal Eins und Zwei mal Zwei - Dieses Szenario wird denke ich nicht stattfinden da dann die Funktion drunter geschalten wird aber zur Sicherheit. -->
    {% elif player.PlatzEinsZweiAktiv == "Ja" and player.PlatzZweiZweiAktiv == "Ja" and player.PlatzDreiZweiAktiv == "Nein" %}
    Die zwei Parteien: {% player.PlatzEinsZwei %}.
    Gefolgt von den zwei Parteien: {% player.PlatzDreiZwei %}.

<!----------------------------- Zwei mal Platz 1 und zwei mal Platz drei -->
    {% elif player.PlatzEinsZweiAktiv == "Ja" and player.PlatzZweiZweiAktiv == "Nein" and player.PlatzDreiZweiAktiv == "Ja" %}
    Die zwei Parteien: {% player.PlatzEinsZwei %}.
    Gefolgt von den zwei Parteien: {% player.PlatzDreiZwei %}.

<!----------------------------- Zwei mal Platz Drei -->
    {% elif player.PlatzEinsZweiAktiv == "Nein" and player.PlatzZweiZweiAktiv == "Nein" and player.PlatzDreiZweiAktiv == "Ja" %}
    Die {% Platzeins %} ist die stärkste Kraft.
    Gefolgt von der {% PlatzZwei %}. Die zwei Parteien {% player.PlatzDreiZwei %} haben den gleichen Ergebnisstand und haben die wenigsten Stimmen.

<!----------------------------- Drei mal Platz Eins -->
    {% elif player.PlatzEinsDreiAktiv == "Ja" %}
     Die drei Parteien: {% player.PlatzEinsDrei %} sind alle gleich auf.
     Die Partei {% PlatzVier %}

<!----------------------------- Drei mal Platz Zwei -->
    {% elif player.PlatzZweiDreiAktiv == "Ja" %}
    Die Partei {% Platzeins %} ist die stärkste Kraft.
    Die drei Parteien {% player.PlatzZweiDrei %} sind gleich auf.


    {% else %}
    Die {% Platzeins %} ist die stärkste Kraft.
    Gefolgt von der {% PlatzZwei %}.
    Die Partei {% PlatzDrei %} ist die dritt stärkste Kraft und die {% PlatzVier %} ist die schwächste Kraft.
    {% endif %}
</p>
<br>
<div class="column2">
<button class='button' type='button' onclick='Next()'> Weiter </button>
    </div>
<br>
    <br>

<h2 class="h2"> </h2>


{% endblock %}

{% block script %}
<script>
 function time(){
   starttime = new Date();
}
    function Next() {
        let ZeitP4S2 = (new Date() - starttime) / 1000;
        liveSend({"ZeitP4S2": "ZeitP4S2", 'ZeitP4S2': ZeitP4S2});
    }
    function liveRecv(data) {
        if (data['type'] == 'P4S2Weiter') {
            document.getElementById("form").submit();
        }
    }
</script>
{% endblock %}

