{% block style %}
<!-- Der Block Style ist der Ort an dem das Aussehen von der Seite mit Hilfe von CSS gestaltet wird -->
<!-- Ich habe diesen Style auf alle HTML Seiten abgewendet. Eigentlich geschieht das durch .CSS Style Sheets aber irgendwie wollte das Programm die Styles nicht übernehmen.-->
<!-- Um den Style an sich in die Elemente zu integrieren, verwendet man class="" in dem HTML Befehl also zum Beispiel bei <p> </p> verwendet man <p class='button'> </p> und kann damit den Style zuordnen-->
<!-- Der Style wird in den Style Block definiert, in dem man den Elementnamen einträgt und einen Punkt davor setzt. Danach werden alle Veränderungen die danach definiert werden, für die Klasse übernommen.-->

    <link rel="stylesheet" href="Button.css">
    <style>
    .button{
        background-color: #363636; /* Green */
        border: NONE;
        color: white;
        alignment: center;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: auto;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    /* h2 habe ich hauptsächlich definiert um den schwarzen Rand ganz unten auf der Website zu gestalten. */
    .h2{
        padding: 60px;
        text-align: center;
        background: #363636;
        color: white;
        font-size: 30px;
    }
    /* Mit h1 wird der Header der Website versehen. Das wichtigste vor allem ist der dunkel graue Background der die gleiche Farbe wie h2 hat.
        Die einzelnen Eigenschaften die hier definiert betreffen die Farben, die Ränder, den Hintergrund und die Position der Schrift auf der Seite*/
    .h1{
        padding: 60px;
        text-align: center;
        background: #363636;
        color: white;
        font-size: 30px;}
    /* In p definiere ich die normale schrift im Text. Bis jetzt habe ich nur definiert das sie larger ist aber man könnte noch die Schriftart ändern oder sie anders positionieren.*/
    .p{
        font-size: larger;
    }

    </style>
{% endblock %}




{% block title %}
<!-- Im Block Title habe ich die Unterschrift der Seite definiert und gleich im Design angepasst.-->
    <link rel="stylesheet" type="text/css" href="Button.css"/>
    <h1 class="h1"> Storytelling </h1>
{% endblock %}


{% block content %}
    <body onload="time()"></body>
    <h3><strong>EILMELDUNG!!</strong></h3>
    <hr>
    <div class="row">
    <div class="column1">
        <p class="p">
Die Nachrichtenagentur Novaland (NAN) meldet den Ausbruch von Waldbränden in Novaland. Ersten Informationen zufolge soll das Feuer durch eine marode Stromleitung des staatlichen Betreibers Novaland Gas & Elektrik (NG&E) verursacht worden sein. Ein historisch trockener Sommer und starke Winde begünstigen eine rasche Ausbreitung des Feuers.
<br>
    <br>
Das Feuer zerstörte bislang nahezu 450 Quadratkilometer Land und mehr als 500 Gebäude. Todesopfer gab es glücklicherweise bislang keine.
<br>
    <br>
Die Regierung, unter Führung von Mika Noel, hat das Militär veranlasst die betroffenen Gebiete zu evakuieren und die regionale Feuerwehr bei der Bekämpfung der Brände zu unterstützen.

<br>
        </p>
    </div>
    </div>
    <div class="column2">
        <img src="{% static 'phase_4/Feuer.png' %}" width="80%">
        <br>
    Waldgebiet in Novaland. Foto: https://www.shutterstock.com/de/image-photo/eagle-creek-wildfire-columbia-river-gorge-710588278
    </div>
<br>
<br>
<button class='button' type='button' onclick='Next()'> Weiter </button>
<br>
<br>
<br>
<h2 class="h2"> </h2>


{% endblock %}

{% block script %}
<script>
 function time(){
   starttime = new Date();
}
    function Next() {
        let Zeitp4s7 = (new Date() - starttime) / 1000;
        liveSend({"ZeitP4S7": "ZeitP4S7", 'ZeitP4S7': Zeitp4s7});
        document.getElementById("form").submit();
    }
</script>
{% endblock %}

