{% block style %}
<!-- Der Block Style ist der Ort an dem das Aussehen von der Seite mit Hilfe von CSS gestaltet wird -->
<!-- Ich habe diesen Style auf alle HTML Seiten abgewendet. Eigentlich geschieht das durch .CSS Style Sheets aber irgendwie wollte das Programm die Styles nicht übernehmen.-->
<!-- Um den Style an sich in die Elemente zu integrieren, verwendet man class="" in dem HTML Befehl also zum Beispiel bei <p> </p> verwendet man <p class='button'> </p> und kann damit den Style zuordnen-->
<!-- Der Style wird in den Style Block definiert, in dem man den Elementnamen einträgt und einen Punkt davor setzt. Danach werden alle Veränderungen die danach definiert werden, für die Klasse übernommen.-->

    <link rel="stylesheet" href="Button.css">
    <style>
    .button{
        background-color: #363636; /* Green */
        border: NONE;
        color: white;
        alignment: center;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: auto;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    /* h2 habe ich hauptsächlich definiert um den schwarzen Rand ganz unten auf der Website zu gestalten. */
    .h2{
        padding: 60px;
        text-align: center;
        background: #363636;
        color: white;
        font-size: 30px;
    }
    /* Mit h1 wird der Header der Website versehen. Das wichtigste vor allem ist der dunkel graue Background der die gleiche Farbe wie h2 hat.
        Die einzelnen Eigenschaften die hier definiert betreffen die Farben, die Ränder, den Hintergrund und die Position der Schrift auf der Seite*/
    .h1{
        padding: 60px;
        text-align: center;
        background: #363636;
        color: white;
        font-size: 30px;}
    /* In p definiere ich die normale schrift im Text. Bis jetzt habe ich nur definiert das sie larger ist aber man könnte noch die Schriftart ändern oder sie anders positionieren.*/
    .p{
        font-size: larger;
    }

    </style>
{% endblock %}




{% block title %}
<!-- Im Block Title habe ich die Unterschrift der Seite definiert und gleich im Design angepasst.-->
    <link rel="stylesheet" type="text/css" href="Button.css"/>
    <h1 class="h1"> Storytelling </h1>
{% endblock %}


{% block content %}
      <body onload="time()"></body>
    <p class="p">
Eine weitere Herausforderung ist, dass ein Teil der Steuern und Sozialabgaben in einem korrupten System von Beamtinnen und Beamten versickert.
Angestellte der öffentlichen Verwaltung sind oft schlecht bezahlt, haben wenige Möglichkeiten, Vorgaben korrekt umzusetzen und werden häufig durch die Bevölkerung bestochen.
<br>
Einige Politikerinnen und Politiker sind ebenfalls bestechlich und nehmen Gelder und Geschenke von Privatpersonen und Unternehmen an.
<br>
Hingegen gibt es andere Politikerinnen und Politiker, die versuchen die Korruption zu bekämpfen. Novaland hat u.a. eine nationale Anti-Korruptionsagentur, deren Aufgabe es ist, korrupte Staatsbedienstete sowie Politikerinnen und Politiker strafrechtlich zu verfolgen.
Bislang wurden etwa 5000 Personen und Unternehmen vor Gericht gestellt.
    </p>
<br>
<button class='button' type='button' onclick='Next()'> Weiter </button>
<br>
<br>
<br>
<h2 class="h2"> </h2>


{% endblock %}

{% block script %}
<script>
    let starttime;

    function time(){
   starttime = new Date();
}

    function Next(){
    let TimeFirstRoundPhase7 = (new Date() - starttime)/1000;
        liveSend({'ZeitPhaseEinsVierteSeite': 'ZeitPhaseEinsVierteSeite', 'Phase1Seite4Zeit': TimeFirstRoundPhase7});
    }

    function liveRecv(data) {
        if (data['type'] == 'P1S4Weiter') {
            document.getElementById("form").submit();
        }
    }
</script>
{% endblock %}

