{% block style %}
<!-- Der Block Style ist der Ort an dem das Aussehen von der Seite mit Hilfe von CSS gestaltet wird -->
<!-- Ich habe diesen Style auf alle HTML Seiten abgewendet. Eigentlich geschieht das durch .CSS Style Sheets aber irgendwie wollte das Programm die Styles nicht übernehmen.-->
<!-- Um den Style an sich in die Elemente zu integrieren, verwendet man class="" in dem HTML Befehl also zum Beispiel bei <p> </p> verwendet man <p class='button'> </p> und kann damit den Style zuordnen-->
<!-- Der Style wird in den Style Block definiert, in dem man den Elementnamen einträgt und einen Punkt davor setzt. Danach werden alle Veränderungen die danach definiert werden, für die Klasse übernommen.-->

    <link rel="stylesheet" href="Button.css">
    <style>
    .button{
        background-color: #363636; /* Green */
        border: NONE;
        color: white;
        alignment: center;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: auto;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    /* h2 habe ich hauptsächlich definiert um den schwarzen Rand ganz unten auf der Website zu gestalten. */
    .h2{
        padding: 60px;
        text-align: center;
        background: #363636;
        color: white;
        font-size: 30px;
    }
    /* Mit h1 wird der Header der Website versehen. Das wichtigste vor allem ist der dunkel graue Background der die gleiche Farbe wie h2 hat.
        Die einzelnen Eigenschaften die hier definiert betreffen die Farben, die Ränder, den Hintergrund und die Position der Schrift auf der Seite*/
    .h1{
        padding: 60px;
        text-align: center;
        background: #363636;
        color: white;
        font-size: 30px;}
    /* In p definiere ich die normale schrift im Text. Bis jetzt habe ich nur definiert das sie larger ist aber man könnte noch die Schriftart ändern oder sie anders positionieren.*/
    .p{
        font-size: larger;
    }

    </style>
{% endblock %}




{% block title %}
<!-- Im Block Title habe ich die Unterschrift der Seite definiert und gleich im Design angepasst.-->
    <link rel="stylesheet" type="text/css" href="Button.css"/>
    <h1 class="h1"> Life-Style Frage 1 </h1>
{% endblock %}


{% block content %}
         <body onload="time()"></body>
    <p class="p">
Von ihrem Einkommen müssen Sie Ihre Bedürfnisse abdecken. Sie müssen wohnen, essen und ihre Mobilität gestalten.
    </p>
<br>
<h3> <strong>Life-Style Frage 1</strong></h3>
    <p class="p">
Kommen wir zunächst zum Wohnen. Ihnen stehen verschiedene Unterkünfte zur Auswahl:
    </p>
 <div id="Korrektur">
<input type="radio" name="Frage_3_Wohnen" onclick="Haus()" class="radio" value="Großes Haus"> Ein großes freistehendes Haus (1100 Novas) </input>
<br>
<input type="radio" name="Frage_3_Wohnen" onclick="Reihenhaus()" class="radio" value="Ein Reihenhaus"> Ein Reihenhaus (950 Novas) </input>
<br>
<input type="radio" name="Frage_3_Wohnen" onclick="Wohnung()" class="radio" value="Eine geräumige Wohnung"> Eine geräumige Wohnung (700 Novas) </input>
 <br>
<input type="radio" name="Frage_3_Wohnen" onclick="NormaleWohnung()" class="radio" value="Eine geräumige Wohnung"> Eine normal große Wohnung (500 Novas) </input>

 </div>
 <div id="Kontostand">
 <br>
     <p class="p">
Ihr Kontostand beträgt gerade: {% Geld %} Novas
     </p>
    </div>
<br>
<br>
<br>
<h2 class="h2"> </h2>


{% endblock %}

{% block script %}
<script>

let NettoEinkommen = js_vars.Geld2;
let Hauskosten = 0;
let Konto = 0;
let starttime;

 function time(){
   starttime = new Date();
}
    function Haus(){
        Hauskosten = 1100;
        Konto = NettoEinkommen - Hauskosten;
        liveSend({"Haus": "Haus", "HausKosten": 1100, "HausArt": "freistehendes Haus"});
        if (Konto >= 400){
            document.getElementById("Kontostand").innerHTML = "<p class='p'>" + "<br>" + "Ihr Kontostand beträgt noch: " + Konto + " Novas" + "</p>" + "<br>" + "<button class='button' type='button' onclick='Next()'> Weiter </button>";
        }
        if (Konto < 400){
            document.getElementById("Kontostand").innerHTML = "<br>" + "<p class='p'>" + "Ihr Kontostand beträgt noch: " + Konto + " Novas" + "<br>"
                + "Da Sie noch mehrere Ausgaben haben, können Sie sich diese Immobilie leider nicht leisten." + "</p>";
        }
    }

    function Reihenhaus(){
        liveSend({"Haus": "Haus", 'HausKosten': 950, 'HausArt': "Reihenhaus"});
        Hauskosten = 950;
        Konto = NettoEinkommen - Hauskosten;
        if (Konto >= 400){
            document.getElementById("Kontostand").innerHTML = "<br>" + "<p class='p'>" + "Ihr Kontostand beträgt noch: " + Konto + " Novas" + "</p>" + "<br>" + "<button class='button' type='button' onclick='Next()'> Weiter </button>";
        }
        if (Konto < 400){
            document.getElementById("Kontostand").innerHTML = "<br>" + "<p class='p'>" + "Ihr Kontostand beträgt noch: " + Konto + " Novas" + "<br>"
                + "Da Sie noch mehrere Ausgaben haben, können Sie sich diese Immobilie leider nicht leisten." + "</p>";
        }
    }

     function Wohnung(){
        liveSend({"Haus": "Haus", 'HausKosten': 700, 'HausArt': "geräumige Wohnung"});
        Hauskosten = 700;
        Konto = NettoEinkommen - Hauskosten;
        if (Konto >= 400){
            document.getElementById("Kontostand").innerHTML = "<p class='p'>" + "<br>" + "Ihr Kontostand beträgt noch: " + Konto + " Novas" + "<br>" + "</p>" + "<button class='button' type='button' onclick='Next()'> Weiter </button>";
        }
        if (Konto < 400){
            document.getElementById("Kontostand").innerHTML ="<p class='p'>" + "<br>" + "Ihr Kontostand beträgt noch: " + Konto + " Novas" + "<br>"
                + "Da Sie noch mehrere Ausgaben haben, können Sie sich diese Immobilie leider nicht leisten." + "</p>";
        }
     }

    function NormaleWohnung(){
        liveSend({"Haus": "Haus", 'HausKosten': 500, 'HausArt': "normale Wohnung"});
        Hauskosten = 500;
        Konto = NettoEinkommen - Hauskosten;
        document.getElementById("Kontostand").innerHTML = "<p class='p'>" + "<br>" + "Ihr Kontostand beträgt noch: " + Konto + " Novas" + "<br>" + "</p>" + "<button class='button' type='button' onclick='Next()'> Weiter </button>";
    }

    function Next(){
        let ZeitP2S4 = (new Date() - starttime)/1000;
        liveSend({"ZeitP2S4": "ZeitP2S4","ZeitP2S4": ZeitP2S4});
        document.getElementById("form").submit();
    }
</script>
{% endblock %}

