{% block style %}
<!-- Der Block Style ist der Ort an dem das Aussehen von der Seite mit Hilfe von CSS gestaltet wird -->
<!-- Ich habe diesen Style auf alle HTML Seiten abgewendet. Eigentlich geschieht das durch .CSS Style Sheets aber irgendwie wollte das Programm die Styles nicht übernehmen.-->
<!-- Um den Style an sich in die Elemente zu integrieren, verwendet man class="" in dem HTML Befehl also zum Beispiel bei <p> </p> verwendet man <p class='button'> </p> und kann damit den Style zuordnen-->
<!-- Der Style wird in den Style Block definiert, in dem man den Elementnamen einträgt und einen Punkt davor setzt. Danach werden alle Veränderungen die danach definiert werden, für die Klasse übernommen.-->

    <link rel="stylesheet" href="Button.css">
    <style>
    .button{
        background-color: #363636; /* Green */
        border: NONE;
        color: white;
        alignment: center;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: auto;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    /* h2 habe ich hauptsächlich definiert um den schwarzen Rand ganz unten auf der Website zu gestalten. */
    .h2{
        padding: 60px;
        text-align: center;
        background: #363636;
        color: white;
        font-size: 30px;
    }
    /* Mit h1 wird der Header der Website versehen. Das wichtigste vor allem ist der dunkel graue Background der die gleiche Farbe wie h2 hat.
        Die einzelnen Eigenschaften die hier definiert betreffen die Farben, die Ränder, den Hintergrund und die Position der Schrift auf der Seite*/
    .h1{
        padding: 60px;
        text-align: center;
        background: #363636;
        color: white;
        font-size: 30px;}
    /* In p definiere ich die normale schrift im Text. Bis jetzt habe ich nur definiert das sie larger ist aber man könnte noch die Schriftart ändern oder sie anders positionieren.*/
    .p{
        font-size: larger;
    }

    </style>
{% endblock %}




{% block title %}
<!-- Im Block Title habe ich die Unterschrift der Seite definiert und gleich im Design angepasst.-->
    <link rel="stylesheet" type="text/css" href="Button.css"/>
    <h1 class="h1"> Life-Style Frage 3 </h1>
{% endblock %}


{% block content %}
        <body onload="time()"></body>
    <p class="p">
Ihnen stehen verschiedene Möglichkeiten der Mobilität zur Auswahl:
    </p>
        <br>
 <div id="Korrektur">
<input type="radio" name="Frage_5_Mobilitaet" onclick="EigenesAuto()" class="radio" value="Eigenes Auto"> Sie fahren hauptsächlich mit dem eigenen Auto (200 Novas) </input>
<br>
<input type="radio" name="Frage_5_Mobilitaet" onclick="AutoMieten()" class="radio" value="Auto mieten"> Sie mieten bei Bedarf ein Auto und nutzen ansonsten öffentliche Verkehrsmittel (150 Novas) </input>
<br>
<input type="radio" name="Frage_5_Mobilitaet" onclick="Fahrrad()" class="radio" value="Fahrrad - Öffentliche Verkehrsmittel"> Sie fahren Fahrrad und nutzen bei Bedarf öffentliche Verkehrsmittel (50 Novas) </input>
<br>
 </div>
 <div id="Kontostand">
 <br>
     <p class="p">
Ihr Kontostand beträgt gerade: {% LetzterWert2 %} Novas
     </p>
    </div>
<br>
<br>
<h2 class="h2"> </h2>


{% endblock %}

{% block script %}
<script>
let NettoEinkommen = js_vars.LetzterWert;
let MoebilitaetsKosten = 0;
let Konto = 0;
let starttime;

 function time(){
   starttime = new Date();
}

    function EigenesAuto(){
        liveSend({'Mobilitaet': 'Mobilitaet', 'MobilitaetKosten': 200, 'MobilitaetArt': "Eigenes Auto"});
        MoebilitaetsKosten = 200;
        Konto = NettoEinkommen - MoebilitaetsKosten;
        if (Konto > 100){
            document.getElementById("Kontostand").innerHTML = "<p class='p'>" + "<br>" + "Ihr Kontostand beträgt noch: " + Konto + " Novas" + "</p>" +"<br>" + "<button class='button' type='button' onclick='Next()'> Weiter </button>";
        }
        if (Konto < 100){
            document.getElementById("Kontostand").innerHTML = "<p class='p'>" + "<br>" + "Ihr Kontostand beträgt noch: " + Konto + " Novas" + "<br>"
                + "Da Sie noch mehrere Ausgaben haben, können Sie sich diese Art der Fortbewegung leider nicht leisten." + "</p>";
            }
        }

    function AutoMieten() {
        liveSend({'Mobilitaet': 'Mobilitaet', 'MobilitaetKosten': 150, 'MobilitaetArt': "Auto mieten"});
        MoebilitaetsKosten = 150;
        Konto = NettoEinkommen - MoebilitaetsKosten;
        if (Konto > 100) {
            document.getElementById("Kontostand").innerHTML = "<p class='p'>" + "<br>" + "Ihr Kontostand beträgt noch: " + Konto + " Novas" + "<br>" + "</p>" + "<button class='button' type='button' onclick='Next()'> Weiter </button>";
        }
        if (Konto < 100) {
            document.getElementById("Kontostand").innerHTML = "<p class='p'>" + "<br>" + "Ihr Kontostand beträgt noch: " + Konto + " Novas" + "<br>"
                + "Da Sie noch mehrere Ausgaben haben, können Sie sich diese Art der Fortbewegung leider nicht leisten." + "</p>";
        }
    }

     function Fahrrad(){
        liveSend({'Mobilitaet': 'Mobilitaet', 'MobilitaetKosten': 50, 'MobilitaetArt': "Fahrrad"});
         MoebilitaetsKosten = 50;
         Konto = NettoEinkommen - MoebilitaetsKosten;
        if (Konto > 100) {
            document.getElementById("Kontostand").innerHTML = "<p class='p'>" + "<br>" + "Ihr Kontostand beträgt noch: " + Konto + " Novas" + "</p>" + "<br>" + "<button class='button' type='button' onclick='Next()'> Weiter </button>";
        }
        if (Konto < 100) {
            document.getElementById("Kontostand").innerHTML = "<p class='p'>" + "<br>" + "Ihr Kontostand beträgt noch: " + Konto + " Novas" + "<br>"
                + "Da Sie noch mehrere Ausgaben haben, können Sie sich diese Art der Fortbewegung leider nicht leisten." + "</p>";
        }
    }

    function Next(){
        let ZeitP2S6 = (new Date() - starttime)/1000;
        liveSend({"ZeitP2S6": "ZeitP2S6",'ZeitP2S6': ZeitP2S6});
        document.getElementById("form").submit();
    }
</script>
{% endblock %}

